/*this is the main css of the web app*/
$color: red;
$topBarHeight: 48px;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

/*left nav bar*/

#app {
    display: flex;
    align-content: stretch;
    background-color: #FAFAFA;
    height: 100%;
    width: 100%;
}


$activeColor:#0097A7;
.ja-left-nav{
    display: flex;
    flex-direction: column;
    background-color: #00B8D4;
    width: 15%;
    color: white;

    .ja-app-name{
        height: $topBarHeight;
        display: flex;
        align-content: center;
        padding: 8px;
        margin-bottom: 20px;
        font-size: 1.45em;
        background-color: #263238;
    }
    .ja-icon{
        margin-right: 10px;
    }

    .active{
        background-color: $activeColor !important;
    }

    .nav-link {
        color: white; 
    }

    .nav-link:hover {
        color: white; 
        background-color: $activeColor;
    }

}

.ja-shell-container{
    display: flex;
    align-content: stretch;
    background-color: #FAFAFA;
    height: 100%;
    width: 100%;
}


.ja-center-container{
    align-content: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.ja-top-panel{
        height: $topBarHeight;
        display: flex;
        justify-content: flex-end;
        align-content: center;
        padding: 8px;
        font-size: 1.2em;
        color: white;
        background-color: #616161;
        
        div{
            padding-right: 10px;
        }
}

.ja-login-box{
display: flex;
align-items: center;
justify-content: center;
}


/*utility*/
.ja-card{
    display: flex;
    margin-top: 30px;
    background-color: white;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    padding: 20px;
  
}

.ja-login-card{
    h2{
        align-self: center
    }
   .ja-content{
       display: flex;
       flex-direction: column;
       padding-top: 50px;
       padding-bottom: 50px;
       align-items: center;

       form{
        width: 100%;
       }

       button{
           font-weight: bold;
           width: 100%;
           padding-top: 20px;
           padding-bottom: 20px;
           margin-bottom: 10px;
       }
   }

   input{
       margin-bottom: 20px;
   }


}










